
/*Limpar formatações padrão*/
* {
    box-sizing: border-box;
}

body {
    /*margin: 0;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #fff;*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

/*.navegacao {
    background: rgb(135, 156, 253);
    border-bottom: solid 5px #1a1b1b;
    height: 80px;
    box-sizing: content-box;
}

    .navegacao a {
        text-decoration: none;
        color: black;
        font-size: 1.3em;
        padding: inherit;
    }*/


.logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
    margin: 13px;
}
    .menu a:hover,
    .menu a.selected {
        background-color: #026a9e;
        color: #000;
    }

h2 {
    color: rgba(0,0,0,.5);
    font-size: 1rem;
}

.area-principal {
    background-color:#fff;
    margin:70px;
}

.data-postagem {
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-postagem {
    float: left;
    margin: -2px 51px auto auto;
    max-width: 56px;
    max-height: 210px;
    width: 57px;
    height: auto;
}


.postado {
    border-left: 5px solid #d8d8d8;
    padding-left: 5px;
    display: block;
    margin-top: 10px;
}

.GridViewRowSelected {
    background-color: #FFFF99;
    color: black;
}


/*.grid_Cliente {
    width: 600px;
    position: relative;
    margin: 40px auto;
}

    .grid_Cliente th, .grid_Cliente td {
        padding: 10px;
    }*/

/*.grid_Produto {
    width: 600px;
    position: relative;
    margin: 40px auto;
}

    .grid_Produto th, .grid_Produto td {
        padding: 10px;
    }*/
